header nav{
	text-align: center;
	text-transform: uppercase;
	box-shadow: 0px 2px 5px #888;
}
#content .jumbotron-thaoduoc{
	margin-top: 50px;
	margin-bottom: 0;
	padding: 150px o;
	background-image: url(img/e1730efe.jpg);
	height: 500px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;<!--chinhr không bị bụt 2 bên-->
	font-family: serif;
	text-align: center;
}
.jumbotron #text{
	padding-top: 60px;
}
#text h1{
	color: whitesmoke;
	text-shadow: 0px 2px 5px #888;
}
#text p{
	color: whitesmoke;
}
#text .btn-feature{
	color: aliceblue;
	border: 1px solid;
}
#text .btn-feature:hover{
	color: darkgray;
}
#feature1 .row{
	padding: 30px 0;
	text-align: center;
	background-color: whitesmoke;
}
#feature2 .row{
	padding: 45px 0;
	background-color: #3498db;
	text-align: center;
	color: white;
	text-shadow: 0px 2px 5px #888;
}
#feature3 .row{
	padding: 30px 0;
}
#iconcar{
	background-color: darkgray;
}
#feature4{
	padding: 30px 0;
	background-color: whitesmoke;
}
#footer{
	padding: 40px 0;
	
}
#footer li{
	padding-top: 30px;
}
